@import './var.scss';
@import './mixins.scss';

body{
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

::-webkit-scrollbar{
    width: 15px;
  }
  ::-webkit-scrollbar-track{
    background-color: var(--gray);
    box-shadow:  0 0 2px rgba( 0, 0, 0,.2 ) inset;
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--MainColor);
    border-radius: 8px;
    border: 3px solid var(--gray);
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: rgb(32, 49, 93);
  }