:root{
    --MainColor: rgba(43, 64, 116, 1);
    --white: white;
    --khaki: rgba(249, 246, 229, 1);
    --gray: gray;
    --SubTitleColor: rgba(74, 74, 74, 1);
    --MainAnimationColor: rgb(28, 42, 80);
    --AnimationColor: rgb(230, 223, 185);
    --MainTextColor: rgba(121, 121, 121, 1);
    --SubTitleColor: rgba(74, 74, 74, 1);
    --TextColor: rgba(155, 155, 155, 1);
    --GradientColor: #2B4074, #2B407400;
    --BorderColor: rgba(126, 191, 132, 1);
}